<div class="card" style="width: 50rem;margin: 0 auto;">
  <div class="card-header text-center">
    <%= @category.name %>一覧
  </div>
  <% @templates.each do |template| %>
    <ul class="list-group list-group-flush">
      <%= link_to(template.name, template_path(template), class: "list-group-item text-center" )%>
    </ul>
  <% end %>
</div>
