<div class="card" style="width: 50rem;margin: 0 auto;">
  <div class="card-header text-center">
    テンプレート
  </div>
  <ul class="list-group list-group-flush">
    <a href="#"><li class="list-group-item text-center">健康</li></a>
    <li class="list-group-item text-center">運動</li>
    <li class="list-group-item text-center">心の健康</li>
    <li class="list-group-item text-center">生産性</li>
    <li class="list-group-item text-center">お金</li>
    <li class="list-group-item text-center">自己投資</li>
    <li class="list-group-item text-center">趣味</li>
    <li class="list-group-item text-center">家事</li>
    <li class="list-group-item text-center">人間関係</li>
    <li class="list-group-item text-center">ビジネス</li>
  </ul>
</div>
